---

title: Categories
---




<!-- Solution 1 -->

<!-- Button Version -->

<h1>Categories</h1>

<!-- TODO: add spacing after categories title -->
<ul class="categories-toc-ul row">
    {% for category in site.data.category %}
    <div class="category-button-wrapper col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <li class="category-button">
            <!-- TODO: makes sure category names are unique -->
            <!-- space in category name should be replaced with '-' -->
            <a href="#{{ category.name | replace: " ", "-"}}">{{ category.name }}</a>
        </li>
    </div>
    {% endfor %}
</ul>


<!-- Panel Version -->
<!-- <div class="panel panel-default">

    {% for item in site.data.category %}

    <div class="panel-heading">
        <h3 class="panel-title"><a href="{{ site.baseurl }}{{ category.url }}">{{ item.name }}</a></h3>
    </div>

    <div class="panel-body">
        {{ item.des }}
    </div>

    {% endfor %}

</div> -->

<!-- Solution 2 -->
<div class="container-fluid category-list-container">
    {% for item in site.data.category %}
    <div id={{item.name | replace: ' ', '-' }} class="category-list">
        <h3>{{ item.name }}</h3>
        <p>{{ item.description }}</p>
        <ul class="article-list">
            {% assign filtered_posts = site.posts | where: 'category', item.name %}
            {% for post in filtered_posts %}
            <li>
                <div class="category-list-item row">
                    <h4 class="category-list-article-title col-lg-9 col-md-8 col-sm-7 col-xs-7"><a
                            href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
                        <div class="category-list-article-meta col-lg-3 col-md-4 col-sm-5 col-xs-5">
                            {% assign author_name = site.authors | where: 'short_name', post.author | first %}
                            {% if author_name %}
                            <span class="category-list-article-author">by <a href="#">{{ author_name.name }}</a></span>
                            {% endif %}
                            <div class="category-list-article-date">{{ post.date | date: "%d %B, %Y" }}</div>
                        </div>

                </div>
            </li>
            {% endfor %}
        </ul>
        <a href="#" class="back-to-top-link">[Back To Top]</a>
    </div>

    {% endfor %}
</div>