---
---
@import "main";

$link-color: #0077CC;
$top-navbar-background: #248232;

body {
    padding-top: 70px;
    

}





// Navigation Bar ===========================================================================

// Top Bar
.navbar.navbar-fixed-top {
    background-color: $top-navbar-background;
    color: white;
}

.navbar-brand {
    color: white
}

.navbar-brand:hover {
    color: #F9C22E
}

.navbar-nav > li > a {
    color: white;
}

.navbar-nav > li > a:hover {
    background-color: transparent;
    color: #F9C22E
}

// Bottom Bar
.navbar.bottom {
    background-color: #2D232E;
    margin: 0;
    border-radius: 0;
  
}

.navbar-text {
    color: #C7D3D8
}

// Sub Navigation Bar
// TODO: Sub Navbar doesn't work in the current situation
.sub-navbar {
    background-color: green; 
    position: fixed; 
    
    top: 51px !important;
    left: 0;
    width: 100%;
    z-index: 1030;
}

// Blog  ===============================================================================

.post-excerpt-list {
    padding-left: 0;
}

.post-excerpt-item {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.post-date{
    

}

.post-title {
    font-size: 24px;
    font-weight: normal;
    color:black;
    margin-top: 0;
    margin-bottom: 5px;
}

.post-title h4 {
    max-width: 800px;
}

.post-author{
    margin-top: 10px;
    font-weight: normal;
    font-size:16px;

}

.post-excerpt-content {
    font-size: 16px;
    color:#4d4c4c;
}

.page-number.top {

}

.page-number.bottom {
    color: #999
}

// Category  ===========================================================================
.categories-toc-ul {
    list-style: none;
    padding: 50px 0 0 0;
}

.category-button-wrapper {
    display: inline-block;
}

.category-button {
    height: 60px;
    width: 100%;
    // Text Style
    display: table;
    text-align: center;    
    border: 1px lightgray solid;
    border-radius: 4px;
    margin: 5px;
    padding: 5px;
    
    box-shadow: 0 3px 4px #86868642;
}

.category-button:hover {
    border: 1px gray solid;
}

.category-button a {
    display: table-cell;
    margin: 0;
    vertical-align: middle;
    color: #363636;
}

.category-button a:hover {
    color: $link-color;
    text-decoration: none;
}

.category-list h3 {
    padding-top: 60px;
}

.back-to-top-link {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.back-to-top-link i {
   margin: auto;
   vertical-align: middle; 
   display: inline-block;
} 

.article-list {
    list-style: none;
    padding-left: 0;
}

// TODO: use bootstrap class
@media only screen and (min-width: 991px) {
    .category-list-container {
        padding: 0 100px;
    }
}

.category-list-item {
    margin: 1em 0;
    
}

.category-list-article-title {
    vertical-align: top;
    font-weight: normal;
    margin: 0;   
    padding: 0;
}

.category-list-article-meta {
    text-align: right;
    padding: 0;
}

.category-list-article-date {
    color: #999
}

// Clearfix extension

@media (min-width:1200px){
    .auto-clear .col-lg-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-lg-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-lg-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-lg-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-lg-6:nth-child(odd){clear:left;}
}
@media (min-width:992px){
    .auto-clear .col-md-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-md-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-md-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-md-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-md-6:nth-child(odd){clear:left;}
}
@media (min-width:768px){
    .auto-clear .col-sm-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-sm-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-sm-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-sm-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-sm-6:nth-child(odd){clear:left;}
}
@media (max-width:767px){
    .auto-clear .col-xs-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-xs-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-xs-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-xs-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-xs-6:nth-child(odd){clear:left;}
}

// Staff ====================================================================================

.staff-list {
    list-style: none;
    padding: 0;
}

.staff-info {
    // border-bottom: 1px solid lightgrey;
}

.staff-list-post-date {
    color: #999;
    margin-bottom: 0px;
}

.staff-list-post-title {
    margin-top: 5px;
}

// Staff / Author ========================================================================================

.author-posts {
    list-style: none;
    padding-left: 0;
}

.author-posts li {
    margin-bottom: 10px;
}

.author-post-title {
    font-size: 1.5em;
}

.author-post-date {
    color: #888
}


// Post / Article ========================================================================================

.article-categories {
    margin-top: 20px;
}

.article-categories {
    color: #999
}

.article-title {
    margin-top: 10px;
    padding-bottom: 20px;
}

.article-author-link {
    font-size: 1.5em;
}

.article-download-link {
    padding: 8px 25px;
}

.article-date {
    font-size: 18px;
    // color: 
}

.article-content {
    font-size: 18px;
}


// Questionaire ==========================================================================================

.questionaire-list {
    list-style: none;
    padding-left: 0;
}

.questionaire-date {
    color: #888;
    margin-bottom: 0;
    margin-right: 10px;
}

.questionaire-creator {
    color: #777
}

.questionaire-heading {
    margin-top: 0;
}